@model MovieStructure.Models.Movie

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.Image" />
        <div class="caption">
            <h3>
                <a asp-controller="Movie" asp-action="Details" asp-route-id="@Model.MovieID">@Model.Title</a>
            </h3>
        </div>
        <div class="addToCart text-right">
            <p class="button ">
                <a class="btn btn-success" id="cartButton" asp-controller="FavoriteList" asp-action="AddToFavoriteList" asp-route-movieId="@Model.MovieID">
                    Add to cart
                </a>
            </p>
        </div>
    </div>
</div>